/**************************************************************************
CSS file for the carousel on the home page of the website
**************************************************************************/

.swipeBox{

  width: 100%;
  margin-bottom: 10px;
  touch-action: none;

}
.scene{
  /*
  padding-top: clamp(55px, 5vh, 100px);
  padding-bottom: clamp(55px, 5vh, 100px);
  */
  width: 100%;
  max-height: 240px;
  min-height: 200px;
  height: 25vh;
  perspective: 100vw;
  perspective-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel{

  width: clamp(205px, 35%, 350px);
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 1s;
  position: absolute;
  top: 0;
  -webkit-transform: translateZ(-385px) rotateY(0deg);
}

.carousel_cell{

  max-height: 225px;
  max-width: 350px;
  min-height: 145px;
  min-width: 200px;
  position: absolute;
  width: 35vw;
  height: 25vw;
  transition: transform 1s, opacity 1s;
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: pointer;
  border: 3px var(--white-shade-five) solid;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

}

.carousel_cell h2{

  display: none !important;

}

.carousel_cell img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;

}
/*clamp(500px, 50vw ,698px)*/

.carousel_cell:nth-child(1) { transform: rotateY(0deg) translateZ(clamp(500px, 50vw ,698px)); }

.carousel_cell:nth-child(2) { transform: rotateY(40deg) translateZ(clamp(500px, 50vw ,698px)); }

.carousel_cell:nth-child(3) { transform: rotateY(80deg) translateZ(clamp(500px, 50vw ,698px)); }

.carousel_cell:nth-child(4) { transform: rotateY(120deg) translateZ(clamp(500px, 50vw ,698px)); }

.carousel_cell:nth-child(5) { transform: rotateY(160deg) translateZ(clamp(500px, 50vw ,698px)); }

.carousel_cell:nth-child(6) { transform: rotateY(200deg) translateZ(clamp(500px, 50vw ,698px)); }

.carousel_cell:nth-child(7) { transform: rotateY(240deg) translateZ(clamp(500px, 50vw ,698px)); }

.carousel_cell:nth-child(8) { transform: rotateY(280deg) translateZ(clamp(500px, 50vw ,698px)); }

.carousel_cell:nth-child(9) { transform: rotateY(320deg) translateZ(clamp(500px, 50vw ,698px)); }

.options{

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: clamp(75px, 12vh, 125px);

}

.carouselButtons{

  box-shadow: 0.1rem 0.1rem 0.3rem var(--grey-shade-one), -0.07rem -0.07rem 0.23rem var(--white-shade-six);
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.9rem;
  color: #ffffff;
  background-color: var(--white-shade-opacity-eight);
  transition: 0.6s ease;
  border-radius: 2rem;

}

.carouselButtons:hover{

  transform: scale(1.1);
  background-color: var(--white-shade-opacity-nine);

}

.viewNextCaro{

  margin-left: 35px;

}

.viewPreviousCaro{

  margin-right: 35px;

}

@media screen and (max-width: 1100px){

  .carousel{



  }

}

@media screen and (max-width: 768px){

  .carousel{

    /*transform: translateZ(-300px) rotateY(0deg);*/

  }

  .options{

    margin-top: clamp(55px, 6vh, 125px);

  }

}

@media screen and (max-width: 642px){

  .options{

    margin-top: 0;

  }

}

@media screen and (max-width: 426px){

  .carousel{

    top: 45px;
  }

  .options{

    margin-top: 75px;

  }

}

@media (hover: hover) and (pointer: fine) {

  .carousel_cell img:hover{

    transform: scale(1.1);

  }

}
