/**************************************************************************
CSS for the home page of the website
**************************************************************************/

/**************************************************************************
The home parallax image
**************************************************************************/

.parallax {
  background-image: url("../images/main.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**************************************************************************
SVG name animation over the parallax image
**************************************************************************/

svg{

  z-index: 2;

}

.image-anim{

  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.image-anim svg{

  width: 50vw;
  max-width: 650px;
  min-width: 250px;
  height: auto;

}

.image-anim p{
  z-index: 2;
  font-family: freight-neo-pro,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #ffffff;
  padding-top: 1vw;
  opacity: 0;
  animation: fadeIn 2s ease-in 6s 1 normal forwards;

}

#name path:nth-child(1){
  stroke-dasharray: 371px;
  stroke-dashoffset: 371px;
  animation: line-anim 3s ease forwards 2s;
}
#name path:nth-child(2){
  stroke-dasharray: 350.6px;
  stroke-dashoffset: 350.6px;
  animation: line-anim 3s ease forwards 2.3s;
}
#name path:nth-child(3){
  stroke-dasharray: 384.8px;
  stroke-dashoffset: 384.8px;
  animation: line-anim 3s ease forwards 2.6s;
}
#name path:nth-child(4){
  stroke-dasharray: 324.5px;
  stroke-dashoffset: 324.5px;
  animation: line-anim 3s ease forwards 2.9s;
}
#name path:nth-child(5){
  stroke-dasharray: 239.5px;
  stroke-dashoffset: 239.5px;
  animation: line-anim 3s ease forwards 3.0s;
}
#name path:nth-child(6){
  stroke-dasharray: 319.6px;
  stroke-dashoffset: 319.6px;
  animation: line-anim 3s ease forwards 3.3s;
}
#name path:nth-child(7){
  stroke-dasharray: 387.5px;
  stroke-dashoffset: 387.5px;
  animation: line-anim 3s ease forwards 3.5s;
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}


@keyframes fadeIn{
  100% {
    opacity: 1;
  }
}

/**************************************************************************
Arrow to scroll to first section
**************************************************************************/

.downArrow{

  position: absolute;
  left: calc(50% - 19.5px);
  bottom: 8%;
  z-index: 3;
  animation: bounce 1s ease infinite alternate;
  width: 50px;

}

.downArrow span{

  display: block;
  width: 3vw;
  min-width: 35px;
  height: 3vw;
  min-height: 35px;
  border-bottom: 6px double #ffffff;
  border-right: 6px double #ffffff;
  transform: rotate(45deg);

}

@keyframes bounce{

  from{
    transform: translateY(0vh);

  }
  to{
    transform: translateY(3vh);

  }

}

/**************************************************************************
General Section CSS for text, headers, and sizes
**************************************************************************/

section {

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100vw;
  padding: 4vw 0px 4vw 0px;
  overflow-x: hidden;

}

section h1{

  font-size: 1.6rem;
  color: #d5eaf2;
  text-align: center;
  padding-bottom: 10px;
  font-family: ff-meta-web-pro, sans-serif;
  font-weight: 300;
  font-style: normal;

}

section h2{

  font-size: 1.2rem;
  color: #d5eaf2;
  text-align: center;
  font-family: ff-meta-web-pro, sans-serif;
  font-weight: 300;
  font-style: normal;

}

section p{

  font-size: 0.8rem;
  color: #afc2c9;
  text-align: left;
  padding-bottom: 25px;
  font-family: fira-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;

}

section a:not(.btnLink){

  font-size: 0.8rem;
  color: #afc2c9;
  text-align: center;
  font-family: fira-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;

}

/**************************************************************************
About Me Section
**************************************************************************/

.about{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #024247;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 14vh), 0 100%);
  margin-bottom: -14vh;
  padding-bottom: 14vh;

}

.myPicture{

  width: 32vw;
  height: auto;
  max-width: 450px;
  min-width: 250px;

}

.aboutText{

  width: 45vw;
  min-width: 250px;
  max-width: 750px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.btnResume{

    box-shadow: 0.1rem 0.1rem 0.3rem #022f33, -0.1rem -0.1rem 0.25rem #065f66;

}

.btnResume:active{

  box-shadow: inset .1rem .1rem .25rem #022f33, inset -.1rem -.1rem .25rem #065f66;

}

/**************************************************************************
Freelance Work Section
**************************************************************************/

.freelanceWork{

  padding-top: 14vh;
  background-color: #023b3e;
  padding-bottom: calc(10vw + 4vh);

}

.worksContainer{

  display: flex;
  justify-content: space-evenly;
  width: 100%;

}

.workContainer{

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;

}

.workContainer img{

  width: 32vw;
  max-width: 600px;
  min-width: 250px;
  z-index: 3;

}

.workContainer a::before{

  content: "View Website";
  display: inline;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 1rem;

}

.workContainer a{

  margin: 3vh 0px 3vh 0px;
  position: relative;

}

.workContainer a > *{

  transition: 0.3s ease-in-out;

}

@media screen and (max-width: 768px){

  .about{

    flex-direction: column;

  }

  .worksContainer{

    flex-direction: column;

  }
/*might use in the future*/
  .workContainer:nth-child(odd){

    padding-right: 0vw;

  }

  .workContainer img{

    width: 50vw;

  }

  .myPicture{

    padding-bottom: 4vh;

  }

  .aboutText{

    width: 70vw;

  }

  .image-anim p{

    font-size: 0.8rem;

  }

}

@media screen and (max-width: 614px){

  .image-anim p{

    font-size: 0.6rem;

  }

}

@media (hover:hover) and (pointer: fine){

  .parallax {
    background-attachment: scroll;
  }

  .workContainer a:hover > *{

    box-shadow: 0 30px 10px -10px rgb(0 0 0 / 40%);
    transform: translateY(0px) scale(1.01);

  }

}
