/**************************************************************************
CSS for the home page of the website
**************************************************************************/

/**************************************************************************
The home parallax image
**************************************************************************/

.parallax {
  background-image: url("../images/mainDay.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**************************************************************************
SVG name animation over the parallax image
**************************************************************************/

svg{

  z-index: 2;
  /*fill: var(--fill-color);*/

}

path{

  stroke: var(--black) !important;

}

.image-anim{

  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*
  position: absolute;
  top: 20%;
  */
}

.image-anim svg{

  width: 35vw;
  max-width: 650px;
  min-width: 275px;
  height: auto;
  padding: 15px 10px 15px 10px;
  /*border-radius: 1rem;*/
  background-color: var(--fill-color);

}

.image-anim path{

  color: #000000;

}

.image-anim p{
  z-index: 2;
  font-family: cardea, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  color: var(--black);
  padding: 6px 10px;
  opacity: 0;
  animation: fadeIn 2s ease-in 6s 1 normal forwards;
  margin-top: 0.8rem;
  margin-bottom: 75px;
  background-color: var(--fill-color);

}

#name path:nth-child(1){
  stroke-dasharray: 371px;
  stroke-dashoffset: 371px;
  animation: line-anim 4s ease forwards 3s;
}
#name path:nth-child(2){
  stroke-dasharray: 350.6px;
  stroke-dashoffset: 350.6px;
  animation: line-anim 4s ease forwards 3.3s;
}
#name path:nth-child(3){
  stroke-dasharray: 384.8px;
  stroke-dashoffset: 384.8px;
  animation: line-anim 4s ease forwards 3.6s;
}
#name path:nth-child(4){
  stroke-dasharray: 324.5px;
  stroke-dashoffset: 324.5px;
  animation: line-anim 4s ease forwards 3.9s;
}
#name path:nth-child(5){
  stroke-dasharray: 239.5px;
  stroke-dashoffset: 239.5px;
  animation: line-anim 4s ease forwards 4.0s;
}
#name path:nth-child(6){
  stroke-dasharray: 319.6px;
  stroke-dashoffset: 319.6px;
  animation: line-anim 4s ease forwards 4.3s;
}
#name path:nth-child(7){
  stroke-dasharray: 387.5px;
  stroke-dashoffset: 387.5px;
  animation: line-anim 4s ease forwards 4.5s;
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}


@keyframes fadeIn{
  100% {
    opacity: 1;
  }
}

/**************************************************************************
Arrow to scroll to first section
**************************************************************************/

.downArrow{

  position: absolute;
  left: calc(50% - 19.5px);
  bottom: 8%;
  z-index: 3;
  animation: bounce 1s ease infinite alternate;
  width: 50px;

}

.downArrow span{

  display: block;
  width: 4vw;
  min-width: 35px;
  height: 4vw;
  min-height: 35px;
  border-bottom: 8px double var(--black);
  border-right: 8px double var(--black);
  transform: rotate(45deg);

}

@keyframes bounce{

  from{
    transform: translateY(0vh);

  }
  to{
    transform: translateY(3vh);

  }

}


/**************************************************************************
General Section CSS for text, headers, and sizes
**************************************************************************/

section {

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100vw;
  padding: 4vw 0px 4vw 0px;
  overflow-x: hidden;

}

section h1, section h2, section h3{

  font-family: livory, serif;
  font-weight: 400;
  font-style: normal;

}

section h1{

  font-size: 1.6rem;
  color: var(--text-grey);
  text-align: center;
  padding-bottom: 10px;

}

section h2{

  font-size: 1.2rem;
  color: var(--text-grey);
  text-align: center;

}

section h3{

  font-size: 1rem;
  color: var(--text-grey);
  text-align: center;

}

section p{

  font-size: 0.8rem;
  color: var(--text-grey);
  text-align: left;
  padding-bottom: 25px;
  font-family: cardea, serif;
  font-weight: 400;
  font-style: normal;

}

section a:not(.btnLink){

  font-size: 0.8rem;
  color: var(--link-grey);
  text-align: center;
  font-family: cardea, serif;
  font-weight: 400;
  font-style: normal;

}

/**************************************************************************
About Me Section
**************************************************************************/

.about{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white-shade-one);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 14vh), 0 100%);
  margin-bottom: -14vh;
  padding-bottom: 14vh;

}

.about a{

  transition: 0.2s ease-in-out;

}

.myPicture{

  width: 32vw;
  height: auto;
  max-width: 450px;
  min-width: 250px;

}

.aboutText{

  width: 45vw;
  min-width: 250px;
  max-width: 750px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.btnResume{

    box-shadow: 0.1rem 0.1rem 0.3rem var(--white-shade-two), -0.05rem -0.05rem 0.25rem var(--white);

}

.btnResume:active{

  box-shadow: inset .1rem .1rem .25rem var(--white-shade-two), inset -.07rem -.07rem .25rem var(--white);

}

/**************************************************************************
Freelance Work Section
**************************************************************************/

.freelanceWork{

  padding-top: 14vh;
  background-color: var(--white-shade-main);
  padding-bottom: calc(6vw + 14vh);
  margin-bottom: -14vh;

}

.worksContainer{
  margin-top: 4vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.worksContainerInner{

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: inherit;

}

.worksContainerInner:not(:last-of-type){

  margin-bottom: 6vh;

}

.workContainer{

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4vh 4vh 2vh 4vh;
  /*position: relative;*/
  box-shadow: 0.09rem 0.09rem 0.3rem var(--white-shade-three), -0.07rem -0.07rem 0.25rem var(--white);
  --border-size: 1px;
  max-width: 600px;

}

.workContainer img{

  width: 32vw;
  height: 100%;
  max-width: 600px;
  min-width: 250px;
  z-index: 3;

}

.workContainer a::before{

  content: "View Website";
  white-space: nowrap;
  display: inline;
  position: absolute;
  background-color: var(--white-shade-opacity-one);
  padding: 10px;
  color: var(--black);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 1rem;
  border: var(--border-size) solid var(--black-opacity-one);

}

.workContainer a::after{

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: var(--border-size) solid var(--black-opacity-one);

}

.workContainer a{

  margin: 3vh 0px 3vh 0px;
  position: relative;
  font-size: 0rem !important;

}

.workContainer a span{

  display: block;
  background: var(--black);
  transition: all 0.2s;

}

.workContainer a::before{

  transition: 0.4s ease-in-out;

}

.workContainer a::after{

  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;

}

/**************************************************************************
Code Projecsts Section
**************************************************************************/

.codeprojects{
  width: 100%;
  background-color: var(--white-shade-four);
  /*clip-path: polygon(0 0, 0 100%, 100% 100%, 100% calc(0% + 10vw));*/
  clip-path: polygon(0 0, 100% calc(0% + 14vh), 100% calc(100% - 14vh), 0% 100%);
  padding-top: 14vh;
  padding-bottom: 14vh;
  position: relative;
}

.codeprojectsExplanation{

  width: 75vw;
  min-width: 250px;
  max-width: 900px;
  line-height: 1.5;

}

.codeprojectsExplanation a{

  transition: 0.2s ease-in-out;

}

.tapOrHover{

  margin: 5vh 20px 2vh 20px;
  text-align: center;
  animation: grow 2s ease-in-out infinite alternate;
  color: var(--black);
  text-shadow: 10px 10px var(--black-opacity-two);

}

.tapOrHover::before{

  content: "[";
  display: inline-block;
  animation: left 2s ease-in-out infinite alternate;
  margin-right: 10px;

}

.tapOrHover::after{

  content: "]";
  display: inline-block;
  animation: right 2s ease-in-out infinite alternate;
  margin-left: 10px;

}

@keyframes grow{

  from{
    transform: scale(1);

  }
  to{
    transform: scale(1.08);

  }

}

@keyframes right{

  from{
    transform: translateX(0px) scale(1.1);

  }
  to{
    transform: translateX(5px) scale(1.4);

  }

}

@keyframes left{

  from{
    transform: translateX(0px) scale(1.1);

  }
  to{
    transform: translateX(-5px) scale(1.4);

  }

}

.projectContainer{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin-bottom: 5vh;

}

.project{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.project h2{

  width: 70%;
  line-height: 1.3;

}

.project p{

  padding-top: 20px;

}

.project img{

  max-width: 360px;
  width: 30vw;
  min-width: 125px;
  border-radius: 0.8rem;
  z-index: 5;

}


.container{

  padding: 20px;
  margin-top: 2vh;
  transition: 0.4s ease-in-out;
  position: relative;
  border-radius: 1rem;
  border: solid 1px var(--black-opacity-three);

}

.container:hover{

  box-shadow: 0.1rem 0.1rem 0.3rem var(--white-shade-nine), -0.08rem -0.08rem 0.25rem var(--white-shade-opacity-two);
  transform: scale(1.02);
  border: solid 1px rgba(0, 0, 0, 0);

}

.container:hover .org{

  opacity: 1;
  z-index: 6;

}

.org{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  opacity: 1;
  transition: 0.4s ease-in-out;
  z-index: -1;

}

.org a{

  margin: 25% 0%;
  padding: 10px;
  border-radius: 0.5rem;
  background-color: var(--white-shade-opacity-three);
  text-decoration: none;
  color: var(--black) !important;
  transition: 0.3s ease;
  cursor: pointer;

}

/**************************************************************************
Photoshop Work Section
**************************************************************************/

.photoshop{

  background-color: var(--white-shade-five);
  /*clip-path: polygon(0 calc(0% + 10vw), 0 100%, 100% 100%, 100% 0);*/
  margin-top: -14.1vh;
  padding-top: 14.1vh;
  padding-bottom: 14.1vh;

}

.photoshopExplanation{

  width: 75vw;
  min-width: 250px;
  max-width: 900px;
  line-height: 1.5;
  margin-bottom: clamp(35px, 5vh, 100px);

}

.btnPhotoshop{

    box-shadow: 0.1rem 0.1rem 0.3rem var(--grey-shade-one), -0.07rem -0.07rem 0.25rem var(--white-shade-six);

}

.btnPhotoshop:active{

  box-shadow: inset .1rem .1rem .25rem var(--grey-shade-one), inset -.08rem -.08rem .25rem var(--white-shade-six);

}

/**************************************************************************
Social Contact Section
**************************************************************************/

.socialContact{

  background-color: var(--white-shade-seven);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% calc(0% + 14vh));
  margin-top: -14vh;
  padding-top: 14vh;
  position: relative;

}

.icons{

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 6vh 0vh;
  width: 50vw;
  max-width: 450px;
  min-width: 300px;

}

.iconLink{

  box-shadow: 0.1rem 0.1rem 0.3rem var(--grey-shade-one), -0.07rem -0.07rem 0.25rem var(--white-shade-six);
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.6s ease;
  color: var(--grey-shade-two);

}

.iconLink:active{

  box-shadow: inset .1rem .1rem .25rem var(--grey-shade-one), inset -.1rem -.1rem .25rem var(--white-shade-six);

}

.btnEmail{

    box-shadow: 0.1rem 0.1rem 0.3rem var(--grey-shade-one), -0.07rem -0.07rem 0.25rem var(--white-shade-six);
    font-size: 1.5rem;
    color: var(--grey-shade-three);
    margin-top: 2vh;

}

.btnEmail > *{

  transition: 0.6s ease;

}

.btnEmail:active{

  box-shadow: inset .1rem .1rem .25rem var(--grey-shade-one), inset -.1rem -.1rem .25rem var(--white-shade-six);

}

.mailIcon{

  margin-right: 10%;

}

@media screen and (max-width: 768px){

  .about, .projectContainer{

    flex-direction: column;

  }

  .project img{

    width: 65vw;
    max-width: 325px;

  }

  .projectContainer div:first-of-type:not(.container){

    margin-bottom: 50px;

  }

  .worksContainerInner{

    flex-direction: column;

  }

  .worksContainer{

    display: contents;

  }


  .worksContainer div:first-of-type{

    margin-top: 3vh;

  }

  .worksContainer div:not(:last-child){

    margin-bottom: 5vh;

  }

/*might use in the future
  .workContainer:nth-child(odd){

    padding-right: 0vw;

  }
*/
  .workContainer img{

    width: 50vw;

  }

  .myPicture{

    padding-bottom: 4vh;

  }

  .aboutText{

    width: 70vw;

  }

  .image-anim p{

    font-size: 0.8rem;

  }

}

@media screen and (max-width: 614px){

  .image-anim p{

    font-size: 0.6rem;

  }

}

@media screen and (max-width: 426px){

  .photoshopExplanation{

    margin-bottom: 0px;

  }

}

@media screen and (max-width: 375px){

  .workContainer{

    padding: 3vh 2vh 1vh 2vh;

  }

}


/*There are certain hover events that I want to react how
they do when not placed here for touch devices*/
@media (hover:hover) and (pointer: fine){

  .parallax {

  }
  /*
  .workContainer a:hover > *{

    box-shadow: 0px 30px 10px -10px rgba(0, 0, 0, 0.2);
    transform: translateY(0px) scale(1.01);

  }
  */
  .workContainer a:hover::before, .workContainer a:focus::before{

    padding: 4%;
    background-color: var(--white-shade-opacity-four);
    font-size: 1.1rem;

  }

  .workContainer a:hover::after, .workContainer a:focus::after{

    top: calc(var(--border-size) * -5);
    bottom: calc(var(--border-size) * -5);
    left: calc(var(--border-size) * -5);
    right: calc(var(--border-size) * -5);
    box-shadow: 0px 25px 10px -10px var(--black-opacity-five);

  }

  .aboutParagraph a:hover, .codeprojectsExplanation a:hover{

    text-shadow: 0 0 10px var(--black-opacity-six), 0 0 10px var(--black-opacity-six);

  }

  .org a:hover{

    background-color: var(--white-shade-opacity-five);
    transform: scale(1.08);

  }

  .iconLink:hover{

    color: #ffffff;

  }

  .btnEmail:hover > *, .btnPhotoshop a:hover, .btnResume a:hover{

    color: white;
    text-shadow: 0 0 10px var(--white-shade-opacity-six), 0 0 10px var(--white-shade-opacity-six);

  }

}
