/**************************************************************************
CSS for elements such as buttons and input boxes
**************************************************************************/

/**************************************************************************
Error and Success Messages
**************************************************************************/
#errorTxt, #successTxt{

  font-family: livory, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  text-align: center;

}

#errorTxt{

  color:#e61936;

}

#successTxt{

  color: #42eb45;

}

/**************************************************************************
Neumorphic Button
**************************************************************************/

.btn{

  width: 6rem;
  height: 2rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;

}

.btnLink{

  text-decoration: none;
  color: var(--grey-shade-three);
  width: 100%;
  height: 100%;
  vertical-align: middle;
  line-height: 2rem;
  text-align: center;
  font-size: 0.7rem;
  font-family: cardea, serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.3s ease-in-out;
}

/**************************************************************************
General Form and Input CSS
**************************************************************************/

.centerForm{

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-shade-main);

}

.frm{

    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-shadow: 0.1rem 0.1rem 0.3rem var(--white-shade-two), -0.1rem -0.1rem 0.25rem var(--white);
    max-width: 350px;
    min-width: 215px;
    margin-top: 4%;

}

.frm label, .frm input, input[type=file]::file-selector-button, span{

  font-family: cardea, serif;
  font-weight: 400;
  font-style: normal;

}

input[type=file]::file-selector-button{

  color: var(--grey-shade-five);

}

.frm label, span{

  color: var(--text-grey);
  font-size: 0.8rem;

}

.frm input{

  color: var(--grey-shade-four);
  font-size: 0.7rem;

}

input:-webkit-autofill {

    -webkit-text-fill-color: var(--black);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  transition: background-color 5000s ease-in-out 0s;

}

.frm h1{

  margin-bottom: 35px;
  font-size: 1.6rem;
  color: var(--text-grey);
  text-align: center;
  font-family: livory, serif;
  font-weight: 400;
  font-style: normal;

}

.frmBtn{

  margin-top: 30px;
  box-shadow: 0.1rem 0.1rem 0.3rem var(--white-shade-two), -0.1rem -0.1rem 0.25rem var(--white);
  border-radius: 1rem;
  font-size: 0.8rem;
  color: var(--link-grey);
  text-align: center;
  font-family: cardea, serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.3s ease-in-out;

}

.frmBtn:active{

  box-shadow: inset .1rem .1rem .25rem var(--white-shade-two), inset -.1rem -.1rem .25rem var(--white);

}

.allInp{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.inp{

  margin-bottom: 15px;

}

.allInp .inp{

    position: relative;

}

.allInp .inp input{

  width: 100%;
  min-width: 225px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: var(--black);
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 1px var(--black-opacity-three);
  outline: none;
  background: transparent;

}

.allInp .inp label{

  position: absolute;
  top:0;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  transition: 0.3s ease;

}

.allInp .inp input:focus ~ label,
.allInp .inp input:valid ~ label{
  top: -25px;
  left: 0;
  color: var(--grey-shade-five);
  font-size: 0.85rem;
}

.frm input[type="file"]{

  width: 90%;
  padding: 5px;
  box-shadow: 0.1rem 0.1rem 0.3rem var(--white-shade-three), -0.1rem -0.1rem 0.25rem var(--white);
  margin-bottom: 5vh;

}

input[type=file]::file-selector-button{

  margin: 5px 50px 5px 5px;
  padding: 4px 10px;
  box-shadow: 0.1rem 0.1rem 0.3rem var(--white-shade-three), -0.1rem -0.1rem 0.25rem var(--white);
  border: none;
  background-color: var(--white-shade-main);
  cursor: pointer;

}

.rangeContainer{

  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--black-opacity-three);
  padding: 10px 15px;
  margin-bottom: 3vh;

}

.rangeContainer *:not(:last-child){

  margin-right: 15px;

}

#rangeValue{

  box-shadow: 0.1rem 0.1rem 0.3rem var(--white-shade-three), -0.1rem -0.1rem 0.25rem var(--white);
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  width: 20px;

}

#rating{

  -webkit-appearance: none;
  background-color: var(--white-shade-one);
  outline: none;
  border-radius: 1rem;
  border: solid 1px var(--black-opacity-seven);
  cursor: pointer;
  transition: 0.3s ease;
  height: 10px;

}

#rating::-webkit-slider-thumb{

  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--white-shade-eight);
  border-radius: 1rem;
  cursor: pointer;
  border: solid 1px var(--black-opacity-five);
  transition: 0.3s ease;

}

#rating::-webkit-slider-thumb:hover{

  background-color: var(--white-shade-seven);

}

#rating:hover, #rating:focus{

  box-shadow: 0.1rem 0.1rem 0.3rem var(--white-shade-three), -0.1rem -0.1rem 0.25rem var(--white);

}

/**************************************************************************
CSS for the filter options
**************************************************************************/

.filterContainer{

  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: calc(10vh + 15px);
  padding-bottom: 20px;
  z-index: 9;
  background-color: var(--white-shade-main);

}

.filters{

  width: 27.2rem;
  height: 2.1rem;
  box-shadow: 0.1rem 0.1rem 0.3rem var(--white-shade-three), -0.1rem -0.1rem 0.25rem var(--white);
  border-radius: 1rem;
  display: flex;
  align-items: center;

}

input[type="radio"]{

  display: none;

}

/*
////Special thanks to Maria M. Muñoz for the code and idea over on: https://codepen.io/myacode/pens/showcase
*/

.segmented-control__1, .segmented-control__2, .segmented-control__3, .segmented-control__4{

  width: 6.8rem;
  height: 1.4rem;
  font-size: 0.9rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--text-grey);
  transition: all .5s ease;

}

.segmented-control__1:hover,
.segmented-control__2:hover,
.segmented-control__3:hover,
.segmented-control__4:hover{

  color: white;
  text-shadow: 0 0 10px var(--white-shade-opacity-six), 0 0 10px var(--white-shade-opacity-six);

}

.segmented-control__color{

    position: absolute;
    height: 1.6rem;
    width: 6.2rem;
    margin-left: .3rem;
    border-radius: .8rem;
    box-shadow: inset 0.1rem 0.1rem 0.3rem var(--white-shade-three), inset -0.1rem -0.1rem 0.25rem var(--white);
    pointer-events: none;

}

#tab-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-2:checked ~ .segmented-control__color {
  transform: translateX(6.8rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-3:checked ~ .segmented-control__color {
  transform: translateX(13.6rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-4:checked ~ .segmented-control__color {
  transform: translateX(20.4rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media screen and (max-width: 700px){

  .frm{

    margin-top: 60px;

  }

  .filters{

    width: 20.4rem;

  }

  .segmented-control__color{

    width: 4.65rem;
    font-size: 0.8rem;

  }

  #tab-2:checked ~ .segmented-control__color {
    transform: translateX(5.05rem);
  }
  #tab-3:checked ~ .segmented-control__color {
    transform: translateX(10.1rem);
  }
  #tab-4:checked ~ .segmented-control__color {
    transform: translateX(15.15rem);
  }

}

@media screen and (max-width: 375px){

  .filters{

    width: 17.34rem;

  }

  .segmented-control__color{

    width: 3.95rem;

  }

  #tab-2:checked ~ .segmented-control__color {
    transform: translateX(4.25rem);
  }
  #tab-3:checked ~ .segmented-control__color {
    transform: translateX(8.5rem);
  }
  #tab-4:checked ~ .segmented-control__color {
    transform: translateX(12.75rem);
  }

}

@media (hover:hover) and (pointer: fine){

  .frmBtn:hover, .frmBtn:focus{
    color: white;
    text-shadow: 0 0 10px var(--white-shade-opacity-six), 0 0 10px var(--white-shade-opacity-six);
  }

}
