/**************************************************************************
CSS for elements such as buttons and input boxes
**************************************************************************/

/**************************************************************************
Error and Success Messages
**************************************************************************/
#errorTxt, #successTxt{

  font-family: livory, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  text-align: center;

}

#errorTxt{

  color:#e61936;

}

#successTxt{

  color: #42eb45;

}

/**************************************************************************
Neumorphic Button
**************************************************************************/

.btn{

  width: 6rem;
  height: 2rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;

}

.btnLink{

  text-decoration: none;
  color: #525252;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  line-height: 2rem;
  text-align: center;
  font-size: 0.7rem;
  font-family: cardea, serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.3s ease-in-out;
}

/**************************************************************************
General Form and Input CSS
**************************************************************************/

.centerForm{

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;

}

.frm{

    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-shadow: 0.1rem 0.1rem 0.3rem #ded9d9, -0.1rem -0.1rem 0.25rem #ffffff;
    max-width: 350px;
    min-width: 215px;

}

.frm label, .frm input, input[type=file]::file-selector-button, span{

  font-family: cardea, serif;
  font-weight: 400;
  font-style: normal;

}

.frm label, span{

  color: #5e5e5e;
  font-size: 0.8rem;

}

.frm input{

  color: #696969;
  font-size: 0.7rem;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  transition: background-color 5000s ease-in-out 0s;

}

.frm h1{

  margin-bottom: 35px;
  font-size: 1.6rem;
  color: #5e5e5e;
  text-align: center;
  font-family: livory, serif;
  font-weight: 400;
  font-style: normal;

}

.frmBtn{

  margin-top: 30px;
  box-shadow: 0.1rem 0.1rem 0.3rem #ded9d9, -0.1rem -0.1rem 0.25rem #ffffff;
  border-radius: 1rem;
  font-size: 0.8rem;
  color: #454545;
  text-align: center;
  font-family: cardea, serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.3s ease-in-out;

}

.frmBtn:active{

  box-shadow: inset .1rem .1rem .25rem #ded9d9, inset -.1rem -.1rem .25rem #ffffff;

}

.allInp{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.inp{

  margin-bottom: 15px;

}

.allInp .inp{

    position: relative;

}

.allInp .inp input{

  width: 100%;
  min-width: 225px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #000000;
  margin-bottom: 15px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  outline: none;
  background: transparent;

}

.allInp .inp label{

  position: absolute;
  top:0;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  transition: 0.3s ease;

}

.allInp .inp input:focus ~ label,
.allInp .inp input:valid ~ label{
  top: -25px;
  left: 0;
  color: #333333;
  font-size: 0.85rem;
}

.frm input[type="file"]{

  width: 90%;
  padding: 5px;
  box-shadow: 0.1rem 0.1rem 0.3rem #c9c1c1, -0.1rem -0.1rem 0.25rem #ffffff;
  margin-bottom: 5vh;

}

input[type=file]::file-selector-button{

  margin: 5px 50px 5px 5px;
  padding: 4px 10px;
  box-shadow: 0.1rem 0.1rem 0.3rem #c9c1c1, -0.1rem -0.1rem 0.25rem #ffffff;
  border: none;
  background-color: #e6e6e6;
  cursor: pointer;

}

.rangeContainer{

  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
  margin-bottom: 3vh;

}

.rangeContainer *:not(:last-child){

  margin-right: 15px;

}

#rangeValue{

  box-shadow: 0.1rem 0.1rem 0.3rem #c9c1c1, -0.1rem -0.1rem 0.25rem #ffffff;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  width: 20px;

}

#rating{

  -webkit-appearance: none;
  background-color: #ebebeb;
  outline: none;
  border-radius: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease;
  height: 10px;

}

#rating::-webkit-slider-thumb{

  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #d4d4d4;
  border-radius: 1rem;
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;

}

#rating::-webkit-slider-thumb:hover{

  background-color: #c2c2c2;

}

#rating:hover, #rating:focus{

  box-shadow: 0.1rem 0.1rem 0.3rem #c9c1c1, -0.1rem -0.1rem 0.25rem #ffffff;

}

@media screen and (max-height: 700px){

  .frm{

    margin-top: 60px;

  }

}

@media (hover:hover) and (pointer: fine){

  .frmBtn:hover, .frmBtn:focus{
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
  }

}
