 /*

CSS File for the Nav Bar, Preloader, and other basic page css needs

*/

*{

  margin: 0;
  padding: 0;

}

*:focus{

  outline: none;

}

html {

  scroll-behavior: smooth;
  background-color:  rgb(255, 255, 255);
  font-size: 22px;
  overflow-x: hidden;

}

.resize-animation-stopper *:not(.image-anim svg):not(.image-anim path):not(.image-anim p){
  animation: none !important;
  transition: none !important;
}

/**************************************************************************
Scrollbar
**************************************************************************/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  background: #5e5e5e;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a8888;
}

/**************************************************************************
Preloader
**************************************************************************/

.preloader{

  width: 100%;
  height: 100vh;
  background-color: #e6e6e6;
  position: fixed;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 0.5s ease;


}

.ship{

  max-width: 200px;
  min-width: 125px;
  width: 30vw;
  height: auto;

}

.loadDots{

  display: flex;

}

.loadDots img{


  width: 24vw;
  min-width: 100px;
  max-width: 185px;
  height: auto;

}

.loaded{

  opacity: 0;
  pointer-events: none;

}

/**************************************************************************
Navbar
**************************************************************************/

.navbar{

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 10vh;
  max-height: 80px;
  min-height: 58px;
  position: fixed;
  background-color: transparent;
  z-index: 4;
  transition: 0.3s ease-in-out;

}

.nav-links{

  display: flex;
  justify-content: space-evenly;
  width: 60vw;
  min-width: 700px;
  max-width: 1250px;

}

.nav-links li{

  list-style: none;

}

.nav-links a{

  color: #333333;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  padding-bottom: 2px;

}

/*Animation for the navbar links*/
 .nav-links a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #5e5e5e;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-signature{
  z-index: 5;
  max-width: 145px;
  min-width: 100px;
  width: 16vw;
  height: auto;
  margin-left: 10px;

}

.imgLink{

  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

}

.open{

  visibility: visible;
  transform: translate(-0.8%, 42%);

}

.nottransparent{
  background-color: rgba(235, 235, 235, 0.85);
  border: solid 1px rgba(0, 0, 0, 0.15);
}

/**************************************************************************
Burger
**************************************************************************/

.burger{
  z-index: 5;
  display: none;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;

}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #333333;
  margin: 5px;
  transition: 0.5s ease-in-out;
}
/*Burger Animation*/
.ex .line1{

  transform: rotate(-45deg) translate(-5px, 6px);

}

.ex .line2{

  transform: rotateY(-90deg);

}

.ex .line3{

  transform: rotate(45deg) translate(-5px, -6px);

}

/*Links Animation when opening burger*/
@keyframes linksFadeIn{

  from{

    opacity: 0;
    transform: translate(50px);

  }
  to{

    opacity: 1;
    transform: translate(0px);

  }

}

/**************************************************************************
Add Image and Add User Button
**************************************************************************/

.homeIconButtons{

  box-shadow: 0.1rem 0.1rem 0.3rem #999393, -0.1rem -0.1rem 0.25rem #f5f0f0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.6s ease;
  color: #ffffff;
  background-color: rgba(194, 194, 194, 0.5);
  position: fixed;
  z-index: 10;
  transition: 0.6s ease;

}

.homeIconButtons:hover{

  transform: scale(1.1);
  background-color: rgba(194, 194, 194, 0.8);

}

.addImageButton{

  left: 1%;
  bottom: 40%;

}

.dayNightToggle{

  left: 1%;
  bottom: 27%;

}

.addUserButton{

  left: 1%;
  bottom: 14%;

}

@media screen and (max-width: 1025px){

  html{

    font-size: 20px;

  }

}


/*Nav Link changes for tablet/mobile and showing the burger*/
@media screen and (max-width: 920px){

  /*Hamburger*/
  .nav-links{

    visibility: hidden;
    position: fixed;
    background: rgba(230, 230, 230, 1);
    height: 105vh;
    width: 101%;
    transform: translate(-0.8%, -60%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    min-width: 0px;

  }

  .nav-links a{

    font-size: 25px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    padding: 10px 15px;

  }

  .nav-links li:first-of-type{
    padding-top: 8vh;
  }

  .nav-links li{

    opacity: 0;
    padding-bottom: 7vh

  }

  .open{

    visibility: visible;
    transform: translate(0%, 44%);

  }

  .burger{

    display: block;
    margin-right: 5vw;

  }

}

@media screen and (max-width: 426px){

  html{

    font-size: 17px;

  }

}

@media (hover:hover) and (pointer: fine){

  .nav-links a:hover:before{
    visibility: visible;
    transform: scaleX(1);
  }

}
